---
import Layout from '../layouts/Layout.astro';
const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout title="About" directory="l-header about">
  <main class="l-main">
    <section class="c-box">
      <h2 class="c-box-title c-lineLayout">contents01</h2>
      <p class="c-box-text">
        楽しそうに生きてれば、地球の重力なんてなくなる<br>
        その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
        人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
        そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
        あるわけないことが起きるから、生きてるのは楽しいんだよ。
      </p>
      <p class="c-box-text">
        そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
		その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
        あるわけないことが起きるから、生きてるのは楽しいんだよ。
        その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
        人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
      </p>
    </section>
	<section class="c-box">
	  <h2 class="c-box-title c-lineLayout">contents02</h2>
	  <p class="c-box-text">
	    楽しそうに生きてれば、地球の重力なんてなくなる<br>
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	  </p>
	  <p class="c-box-text">
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
	    その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
		あるわけないことが起きるから、生きてるのは楽しいんだよ。
		その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
		人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	  </p>
	</section>
	<section class="c-box">
	  <h2 class="c-box-title c-lineLayout">contents03</h2>
	  <p class="c-box-text">
	    楽しそうに生きてれば、地球の重力なんてなくなる<br>
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	  </p>
	  <p class="c-box-text">
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
	    その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	  </p>
    </section>
    <p>以下は私に関するいくつかの事実です。</p>
    <ul>
      <li>私の名前は{identity.firstName}です。</li>
      <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
      {identity.hobbies.length >= 2 &&
        <li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
      }
    </ul>
    <p>私のスキルは以下の通りです。</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}
    {finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}
  </main>
</Layout>
<style lang="scss">
</style>