---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "About";
const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout title="About" directory="l-header about">
  <main>
    <h1><span class="text-gradient">AstroSample - {pageTitle}</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="/"
        title="Home"
        body="Top page."
      />
      <Card
        href="/about/"
        title="About"
        body="About page."
      />
      <Card
        href="/blog/"
        title="Blog"
        body="Blog page❤️"
      />
    </ul>
    <p>以下は私に関するいくつかの事実です。</p>
    <ul>
      <li>私の名前は{identity.firstName}です。</li>
      <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
      {identity.hobbies.length >= 2 &&
        <li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
      }
    </ul>
    <p>私のスキルは以下の通りです。</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}
    {finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}
  </main>
</Layout>