---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "About";
const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];

const happy = true;
const finished = false;
const goal = 3;
import '../styles/global.css';
---

<Layout title="About">
	<main>
		<h1><span class="text-gradient">AstroSample - {pageTitle}</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/"
				title="Home"
				body="Top page."
			/>
			<Card
				href="/about/"
				title="About"
				body="About page."
			/>
			<Card
				href="/blog/"
				title="Blog"
				body="Blog page❤️"
			/>
		</ul>
        <p>以下は私に関するいくつかの事実です。</p>
        <ul>
          <li>私の名前は{identity.firstName}です。</li>
          <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
          {identity.hobbies.length >= 2 &&
            <li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
          }
        </ul>
        <p>私のスキルは以下の通りです。</p>
        <ul>
          {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}

        {finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}
        
        {goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
