---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---
<Layout title={frontmatter.title} directory="l-header blog">
  <main  class="l-main">
    <section class="c-box u-mb-4">
      <h1>{frontmatter.title}</h1>
      <p>投稿日: {frontmatter.pubDate.toString().slice(0,10)}</p>
      <p><em>{frontmatter.description}</em></p>
      <p>著者: {frontmatter.author}</p>
      <ul class="c-taglist">
        <li>タグ：</li>
        {frontmatter.tags.map((tag) => (
          <li class="c-taglist-item">
            <a class="c-textLink" href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </section>
    <section class="c-box u-mb-4">
      <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
      <slot />
    </section>
  </main>
</Layout>
<style lang="scss">
.c-taglist{
  margin:$gap 0;
  display:flex;
  gap:$gap / 2;
  .c-textLink{
    padding:0 1em;
    border:1px solid $dark-color;
    border-radius:$gap / 2;
  }
}
html.dark .c-taglist{
  .c-textLink{
    border:1px solid $color-invert;
  }
}
</style>